/* Font-Face Definitionen */
@font-face {
  font-family: 'Thunder';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Thunder/Thunder-SemiBoldLC.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Thunder';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Thunder/Thunder-BoldLC.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Thunder';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Thunder/Thunder-ExtraBoldLC.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tribun';
  src: url('/fonts/Tribun/Tribun.otf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Perfect';
  src: url('/fonts/Perfect/perfect.otf') format('truetype');
  font-style: normal;
  font-display: swap;
}

/* Root-Variablen */
:root {
  --blue: #03305D;
  --gold: #F1BD3F;
  --beige: #E8E1DA;
  --font-body: 'Poppins', sans-serif;
  --font-thunder: 'Thunder', sans-serif;
  --title-size: clamp(5em, 7.5vw, 7.5em);
  --animation-bounce: 0.4s cubic-bezier(0.35, 1.5, 0.6, 1);
}

/* Reset und Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  color: var(--blue);
  background-color: #F2EDE9;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--blue);
  font-size: 1rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.title-base,
.big-title-3 {
  font-family: var(--font-thunder);
  text-transform: uppercase;
  font-weight: bold;
}

.title-base {
  font-size: var(--title-size);
}

.big-title-3 {
  font-size: 4em;
}
