@font-face {
  font-family: 'Thunder';
  font-style: normal;
  font-weight: 600; /* SemiBold */
  src: url('/fonts/Thunder/Thunder-SemiBoldLC.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Thunder';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('/fonts/Thunder/Thunder-BoldLC.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Thunder';
  font-style: normal;
  font-weight: 800; /* ExtraBold, passe ggf. an die tatsächliche Gewichtung an */
  src: url('/fonts/Thunder/Thunder-ExtraBoldLC.woff2') format('woff2');
  font-display: swap;
}

/* Poppins Thin - Gewicht 100 */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Poppins ExtraLight - Gewicht 200 */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Poppins Light - Gewicht 300 */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Poppins Regular - Gewicht 400 */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Poppins Medium - Gewicht 500 */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Poppins SemiBold - Gewicht 600 */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Poppins Bold - Gewicht 700 */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Poppins ExtraBold - Gewicht 800 */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Poppins Black - Gewicht 900 */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --blue: #03305D;
  --gold: #FCB904;
  --beige: #D2C19F;
  --font-body: 'Poppins', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  --font-thunder: 'Thunder', sans-serif;
  --title-size: clamp(5em, 7.5vw, 7.5em);
}

body {
  font-family: var(--font-body);
  margin: 1em;
  padding: 0;
  color: var(--blue);
  margin-top: 15vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Gemeinsame Titel-Basisklasse */
.title-base, .big-title-3 {
  font-weight: bold;
  font-family: var(--font-thunder);
  text-transform: uppercase;
  margin: 0;
}
.title-base {
  font-size: var(--title-size);
}

.big-title-3 {
  font-size: 3em;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.main-content {
  margin-top: 8em;
}

.hero-text h1 {
  font-family: var(--font-heading);
  font-size: 3rem;
  color: var(--blue);
  line-height: 1.2;
}

.hero-image img {
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.description {
  text-align: center;
  padding: 2rem 0;
}

.description h2 {
  font-family: var(--font-heading);
  font-size: 2rem;
  color: var(--blue);
}

a {
  text-decoration: none;
  color: var(--blue);
  font-size: 1rem;
}
