.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: transform 0.3s ease-out, height 0.3s ease-out, padding 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 4em 1em;
  padding-bottom: 1em;
  font-family: var(--font-thunder);
  text-transform: uppercase;
  background-image: url('/images/noisy.png');
  background-repeat: repeat;
  background-color: #F2EDE9;
}

.navbar.scrolled {
  transform: translateY(-48px);
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: transform 0.3s ease, height 0.3s ease;
}

.logo {
  height: 5em; /* Standardhöhe */
  transition: height 0.3s ease, transform 0.3s ease;
  padding-top: 2em;
}

/* .navbar.scrolled .logo-container {
  transform: translate(-50%, -50%) scale(0.97);
  padding-top: 1em;
} */

/* .navbar.scrolled .logo {
  height: 3em;
} */

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1em;
  right: 1em;
  border-bottom: 2px solid var(--blue);
}

.scalloped-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.67em;
  background-image: url('@/assets/scalloped-navbar.svg');
  background-repeat: repeat-x;
  background-position: top left;
  transition: transform 0.5s ease-out;
  transform: translateY(0);
  z-index: 0;
}

.scalloped-svg.hidden {
  transform: translateY(-100%) !important;
}

.burger-menu {
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-icon {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-icon:nth-child(1) {
  top: 0;
}

.burger-icon:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-icon:nth-child(3) {
  bottom: 0;
}

.burger-menu.open .burger-icon:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.open .burger-icon:nth-child(2) {
  opacity: 0; /* Mittlere Linie ausblenden */
}

.burger-menu.open .burger-icon:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-right {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.nav-right .contact-link {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0; /* Direkt unter der Navbar starten */
  left: 0;
  width: 100%;
  height: 100%; /* Vollständige Höhe des Viewports */
  background-color: var(--blue); /* Dunkelblauer Hintergrund */
  color: #fff; /* Weiße Schrift */
  padding: 100px 20px; /* Abstand oben, um die Navbar auszugleichen */
  transform: translateX(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 9;

}

.mobile-menu.open {
  transform: translateX(0);
  opacity: 1;
}

.mobile-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em; /* Abstand zwischen den Menüpunkten */
  align-items: center;
}

.mobile-links a {
  text-decoration: none;
  font-size: 1.5rem; /* Größere Schrift für mobile Ansicht */
  font-weight: bold;
  color: #fff; /* Weiße Schrift */
  transition: color 0.3s ease;
}

.mobile-links a:hover {
  color: var(--gold); /* Goldene Farbe beim Hover */
}

.cta-button {
  display: inline-block !important;
  padding: 0.3em 1.1em;
  background-color: var(--gold);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  max-width: 6em;
  border: 2px solid var(--blue);
  transition: background-color 0.3s ease, transform 0.2s ease;
  color:  var(--blue);
  font-family: var(--font-thunder);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.cta-button:hover {
  background-color: #e0a824; /* Helleres Gold beim Hover */
  transform: scale(1.05); /* Leichte Vergrößerung */
}

.no-scroll {
  overflow: hidden; /* Verhindert Scrollen */
  height: 100%; /* Hält die Seite fixiert */
}

@media (max-width: 767px) {
  .nav-left,
  .nav-right {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .mobile-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 4em 6em;
  }


  .navbar::after {
    left: 2em;
    right: 2em;
  }
  .nav-links {
    flex-direction: row;
  }


  /* .navbar.scrolled .logo-container {
    transform: translate(-50%, -50%) scale(0.97);
    padding-top: 1em;
  } */

  /* .navbar.scrolled .logo {
    height: 4em;
  } */

  .burger-menu {
    display: none !important;
  }

  .nav-right .contact-link {
    display: flex;
    flex-direction: column;
    padding-top: 0.7em;
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    gap: 1em;
  }

  .nav-right .contact-link {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--blue);
    transition: color 0.3s ease;
  }

  .nav-links a:hover {
    color: var(--gold);
  }
}
