.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2.7em 1em;
  padding-bottom: 1em;
  font-family: var(--font-thunder);
  text-transform: uppercase;
  background-color: #F2EDE9;
  transition: transform 0.3s ease-out, height 0.3s ease-out, padding 0.3s ease-out;
}

.navbar.scrolled {
  transform: translateY(-24px);
}


.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: transform 0.3s ease, height 0.3s ease;
}

.logo {
  height: 4.5em;
  transition: height 0.3s ease, transform 0.3s ease;
  padding-top: 0;
}

.navbar.scrolled .logo {
  height: 4.5em;
  transform: scale(0.9);
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1em;
  right: 1em;
  border-bottom: 2px solid var(--blue);
}

.scalloped-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  background-image: url('@/assets/scalloped-navbar.svg');
  background-repeat: repeat-x;
  background-position: top left;
  background-size: calc(100% / 10);
  transition: transform 0.5s ease-out;
  transform: translateY(0);
  z-index: 1;
  pointer-events: none;

}

.scalloped-svg.hidden {
  transform: translateY(-100%) !important;
}

/* Burger-Menü-Stile (sichtbar auf mobilen Geräten und Tablets) */
.burger-menu {
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.burger-icon {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-icon:nth-child(1) {
  top: 0;
}

.burger-icon:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-icon:nth-child(3) {
  bottom: 0;
}

.burger-menu.open .burger-icon:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.open .burger-icon:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .burger-icon:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Navigationslinks */
.nav-left .nav-links {
  display: none;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  gap: 1em;
  z-index: 1001;
}

.nav-right .Kontakt-link {
  display: none;
}

/* Mobile Menü */
.mobile-menu {
  position: fixed;
  top: 3em;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  color: #fff;
  padding: 100px 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 999;
}

.mobile-menu.open {
  transform: translateX(0);
  opacity: 1;
}

.mobile-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}

.mobile-links a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;
}

.mobile-links a:hover {
  color: var(--gold);
}

.nav-right .cta-button .cta-text {
  display: none;
}

.nav-right .cta-button i {
  /* font-size: 1.2em; */
  margin: 0;
}

.nav-right .cta-button:hover,
.nav-right .cta-button:focus {
  transform: translateY(5%) rotate(0.001deg);
  transition: transform var(--animation-bounce);
}

/* Kein Scrollen, wenn Menü geöffnet */
.no-scroll {
  overflow: hidden;
  height: 100%;
}


/* Tablets */
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar {
    padding: 4.5em 2em;
    padding-bottom: 1.5em;
  }

  .scalloped-svg {
    height: 5em;
    background-size: calc(100% / 20);
  }

  .logo {
    height: 5em;
  }

  .nav-left .nav-links {
    display: none !important;
  }

  .burger-menu {
    display: flex !important;
  }

  .nav-right .cta-button {
    width: auto;
    padding: 0.3em 1.1em;
    gap: 0.5em;
  }

  .nav-right .cta-button .cta-text {
    display: none; /* Verstecke den Text auf Tablets */
  }

  .nav-right .cta-button i {
    margin-right: 0.5em;
  }

  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
  }

  .burger-menu {
    height: 24px;
    margin-right: 1em;
    position: relative;
    z-index: 1001;
  }

  .logo-container {
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .navbar.scrolled {
    transform: translateY(-34px);
  }
}

/* Desktop Geräte */
@media (min-width: 1200px) {
  .navbar {
    justify-content: space-between;
    padding: 4.8em 6em;
    padding-bottom:2em;
  }

  .logo {
    height: 6em;
  }

  .navbar.scrolled {
    transform: translateY(-40px);
  }

  .navbar.scrolled .logo {
    height: 6em;
    transform: scale(0.9);
  }

  .navbar::after {
    left: 2em;
    right: 2em;
  }

  .nav-left .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 2em;
  }

  .burger-menu {
    display: none !important;
  }

  .nav-right .Kontakt-link {
    display: flex;
    align-items: center;
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    gap: 1em;
  }

  .nav-links {
    flex-direction: row;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--blue);
    transition: color 0.3s ease;
  }

  .nav-links a:hover {
    color: var(--gold);
  }

  .nav-right .cta-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: auto;
    padding: 0.3em 1.1em;
  }

  .nav-right .cta-button i {
    font-size: 1.2em;
    margin-right: 0.5em;
  }

  .nav-right .cta-button .cta-text {
    display: inline;
    font-size: 2rem;
  }

  .scalloped-svg {
    height: 3em;
    background-size: calc(100% / 30);
  }
}

/* Größere Bildschirme */
@media (min-width: 1440px) {
  .scalloped-svg {
    background-size: calc(100% / 40);
  }
}
